{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="card p-4" style="max-width: 500px; width: 100%;">

            <div class="text-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 24 24" fill="none" stroke=#fe8401 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-check">
                    <path d="M22 13V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h8"/>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
                    <path d="m16 19 2 2 4-4"/>
                </svg>

                <h3 class="text-center mb-3">Email de réinitialisation envoyé</h3>
            </div>

            <p>
                Si un compte correspondant à votre adresse email existe, un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>

            <p>
                Si vous ne recevez pas d'email, veuillez vérifier votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
            </p>

        </div>
    </div>
{% endblock %}
