{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="card p-4" style="max-width: 500px; width: 100%;">

            <div class="text-center mb-3">
                <img src="{{ asset('images/mail-check.png') }}" alt="mail-check logo" style="height: 30px;">
                 <h3 class="text-center mb-3">Email de réinitialisation envoyé</h3>
            </div>


            <p>
                Si un compte correspondant à votre adresse email existe, un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>

            <p>
                Si vous ne recevez pas d'email, veuillez vérifier votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.
            </p>


        </div>
    </div>
{% endblock %}
